@import "leaflet/dist/leaflet.css";

.map-container {
  max-width: 80%;
  max-height: 300px;
  margin-top: 70px;
  margin-bottom: 250px;
  margin-left: 130px;
}

.map-container h1 {
  color: #8e24aa;
}

body {
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin: 5px 3px;
  width: 150px;
  height: 70px;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #e91e63, #7b1fa2);
  color: #ffffff;
}

button:hover {
  background-image: linear-gradient(to bottom right, #7b1fa2, #e91e63);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  color: #333000;
}

.B3 {
  width: 300px;
}
